.css-1cy3je6-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 12px;
}

.no-shrink {
  transform: translate(40px, 10%) scale(1) !important;
  transition: all 0.3s ease-in !important;
  top: 10% !important;
}
.no-shrink-no-icon {
  transform: translate(10px, 12%) scale(1) !important;
  transition: all 0.3s ease-in !important;
  top: 10% !important;
}

.MuiDrawer-paper {
  min-height: 600px;
  overflow-y: scroll;
}

.css-19kzrtu {
  min-height: 600px;
  overflow-y: scroll;
}
